{% extends 'navbar.html' %}
{% block nav %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


{%if cart %}
<h2>CART LIST</h2>
{% if messages %}
        {% for i in messages %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{i}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if i.level == DEFAULT_MESSAGE_LEVELS.ERRORS %}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{i}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor%}
    {% endif %}


<table class="table table-success table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>image</th>
            <th>unit price</th>
            <th>quantity</th>
            <th>date and time</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in carts %}

    <tr>
        <td>{{i.id}}</td>

        <td>{{i.product.title}}</td>
        <td>
            <img src="{{i.product.image.url}}" height="300px">
        
        <td>{{i.product.price}}</td>

        <td>

        <a href="{% url 'inc' i.id %}" class="btn">+</a>
        <span class="p-1 border">
            {{i.quantity}}
        </span>
        <a href="{% url 'dec' i.id %}" class="btn">-</a>
    </td>

    <td>{{i.datetime}}</td>
    <td>
        <a href="{% url 'porder' i.id %}" class="btn btn-outline-success">
        Place order
    </a>
    <a href="{% url 'delcart' i.id %}" class="btn">

        <i class="fa-solid fa-trash" style="color: red;"></i>
    </a>        
    </td>
</tr>
{% endfor %}
    </tbody>
</table>
{% else %}

<h3 class="text-warning text-center my-4">No items added in cart!!</h3>
{% endif %}
{% endblock nav%}